# entornos virtuales
venv/
backend/venv/

# cache python
curves/__pycache__/

# archivos a ignorar
curves/datasets
curves/results
curves/utils
backend/results
backend/uploads

# archivos temporales
*.log
*.tmpgit 