# entornos virtuales
venv/
backend/venv/

# cache pythonprueba
curves/__pycache__/

# archivos a ignorar
curves/results/
backend/results/
backend/uploads/
results/
uploads/
desktop/*
!desktop/tkinter_app.py

# archivos temporales
*.log
*.tmpgit 