# entornos virtuales
venv/
backend/venv/

# cache pythonprueba
curves/__pycache__/
curves/src/__pycache__/

# archivos a ignorar
curves/results/
backend/results/
backend/uploads/
results/
uploads/
desktop/*
!desktop/tkinter_app.py
build/
dist/

# archivos temporales
*.log
*.tmpgit 